<?xml version="1.0" encoding="utf-8"?><!-- <manifest xmlns:android="http://schemas.android.com/apk/res/android" --><!-- package="com.gaute.grrclientandroid"> -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gaute.grrclientandroid"
    android:sharedUserId="com.gaute.shareduserid"
    android:sharedUserLabel="@string/label_shared_user">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Transparent">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--android.intent.category.LAUNCHER is valid only for Activity-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.startMainActivityForGrrClient" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--services directly can't be started from intent-filter-->
        <!--https://stackoverflow.com/questions/4467600/how-to-launch-a-android-service-when-the-app-launches-->
        <service
            android:name=".service.ServiceBackgroundGrrClientAndroid"
            android:enabled="true"
            android:process=":ServiceGrrClientAndroid"></service>

        <receiver
            android:name=".broadcastreceiver.BroadcastReceiverStartOnBoot"
            android:enabled="true">
            <!--use of intent filter makes this receiver is already exported -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>